<nav class="main-nav">
  <ul>
    <li class="{{ if .IsHome }}active{{ end }}">
      <a href="{{ "/" | relURL }}">Start</a>
    </li>

    <li class="{{ if eq .Section "reden" }}active{{ end }}">
      <a href="{{ "/reden/" | relURL }}">Reden</a>
    </li>

    <li class="{{ if eq .Section "coaching-seminare" }}active{{ end }}">
      <a href="{{ "/coaching-seminare/" | relURL }}">Coaching & Seminare</a>
    </li>

    <li class="{{ if eq .Section "about" }}active{{ end }}">
      <a href="{{ "/about/" | relURL }}">Über mich</a>
    </li>

    <li class="{{ if eq .Section "blog" }}active{{ end }}">
      <a href="{{ "/blog/" | relURL }}">Blog</a>
    </li>

    <li class="{{ if eq .Section "kontakt" }}active{{ end }}">
      <a href="{{ "/kontakt/" | relURL }}">Kontakt</a>
    </li>
  </ul>
</nav>
